/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

body{
	width:100%;
	}



 /* pagina principal */
 
#principal{
	
border:2px solid #777777;
background:#fff;
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1024 px; /* Definimos el ancho del objeto a centrar */
height:500px;
margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -300px; /* Restamos la mitad de la anchura del objeto con un margin-left */
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
text-align:center;

/*esto  son efectos de  caja*/
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
 box-shadow: 0 10px 6px -6px #777;

}

.gestionPedido1{	
	
   font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 160px;
  height: 60px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:60px;         
}

.gestionConfiguracion1{
	
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center; 
  width: 160px;
  height: 60px; 
  border-radius: 5px; 
  position:absolute;
  margin-top:30px;
  margin-left:280px;
}

.usu{
  position:absolute;
  margin-top:500px;
  margin-left:10px;	
}

.usuario{
  position:absolute;
  margin-top:500px;
  margin-left:80px;	
}


 /* Modulo de Configuracion */
 
#gg{	
border:2px solid #777777;
background:#fff;
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1024 px; /* Definimos el ancho del objeto a centrar */
height:500px;
margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -300px; /* Restamos la mitad de la anchura del objeto con un margin-left */
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
text-align:center;
}

.apboton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 160px;
  height: 60px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:10px;  
  margin-left:-25px;
}

.apboton1{
 font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center; 
  width: 160px;
  height: 60px; 
  border-radius: 5px; 
  position:absolute;
  margin-top:10px;
  margin-left:185px;
}
.apboton2{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 160px;
  height: 60px; 
  border-radius: 5px; 
  position:absolute;
  margin-top:10px;
  margin-left:385px;


}
.dptBoton{
 font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center; 
  width: 160px; 
   height: 60px; 
  border-radius: 5px;
  position:absolute; 
  margin-top:100px;  
   margin-left:-25px;
    
}

.tipopedidodptpBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center; 
  width: 160px; 
   height: 60px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:100px;  
   margin-left:185px;

}

.lugarBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777; 
  text-align: center;
  width: 160px;
   height: 60px; 
   border-radius: 5px;  
 position:absolute; 
  margin-top:100px;  
    margin-left:385px;
 
}
.undconBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 100px;
  text-align: center; 
  width: 160px; 
  height: 60px; 
  border-radius: 5px; 
  position:absolute;
  margin-top:200px;
  margin-left:-25px;

}
.bodegaBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin: 40px 45px 0px;
  text-align: center;
  width: 160px;
  height: 60px; 
  border-radius: 5px; 
  position:absolute;
  margin-top:200px;
  margin-left:185px;
}

.productoBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center; 
  width: 160px; 
   height: 60px; 
  border-radius: 5px;
  position:absolute;
  margin-top:200px;
   margin-left:385px;
}




 /* Modulo de pedidos*/
 
#gp{	
border:2px solid #777777;
background:#fff;
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1024 px; /* Definimos el ancho del objeto a centrar */
height:500px;
margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -300px; /* Restamos la mitad de la anchura del objeto con un margin-left */
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
text-align:center;
}

.b{	
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 160px;
  height: 60px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:25px;          
}


.a{	
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center; 
  width: 160px;
  height: 60px; 
  border-radius: 5px; 
  position:absolute;
  margin-top:30px;
  margin-left:200px; 
}

/*Gestion de Pedidos*/

#p{
/*border:2px solid #777777;*/
background:#fff;
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 25%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1050 px; /* Definimos el ancho del objeto a centrar */
height:500px;
margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -335px; /* Restamos la mitad de la anchura del objeto con un margin-left */
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;
}

#exi{
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 25%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1050 px; /* Definimos el ancho del objeto a centrar */
height:500px;
margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -335px; /* Restamos la mitad de la anchura del objeto con un margin-left */
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:300px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;
	
}

#hEmpresa{
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 25%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1050 px; /* Definimos el ancho del objeto a centrar */
height:500px;
margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -335px; /* Restamos la mitad de la anchura del objeto con un margin-left */
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:500px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;
}

#hcentro{
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 25%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1050 px; /* Definimos el ancho del objeto a centrar */
height:500px;
margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -335px; /* Restamos la mitad de la anchura del objeto con un margin-left */
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:500px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;
}

#hdept{
position: absolute;
top: 40%; /* Buscamos el centro horizontal (relativo) del navegador */
left: 25%; /* Buscamos el centro vertical (relativo) del navegador */
width: 1050 px; /* Definimos el ancho del objeto a centrar */
height:500px;
margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
margin-left: -335px; /* Restamos la mitad de la anchura del objeto con un margin-left */
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:500px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;
}

#hTipoPed{
position: absolute;
top: 40%; 
left: 25%; 
width: 1050 px;
height:500px;
margin-top: -200px; 
margin-left: -335px;
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:480px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;	
}

#hLugar{
position: absolute;
top: 40%; 
left: 25%; 
width: 1050 px;
height:500px;
margin-top: -200px; 
margin-left: -335px;
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:500px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;		
}

#hUnidad{
position: absolute;
top: 40%; 
left: 25%; 
width: 1050 px;
height:500px;
margin-top: -200px; 
margin-left: -335px;
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:500px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;		
}

#hTipoUsu{
position: absolute;
top: 40%; 
left: 25%; 
width: 1050 px;
height:500px;
margin-top: -200px; 
margin-left: -335px;
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:500px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;	
}

#tu{
padding-left: 35px;	
}

#tu1{
padding-left: 35px;	
}

.tipoBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:62px;
  margin-bottom: 10px;	
}
.usuBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:20px;
  margin-bottom: 10px;	
}
.addTuBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px;
}
.modificarTipoUsu{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:110px;
}
.eliminarTipoUsu{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:220px;
}
.buscarTipo{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:330px;	
}

#und{
	padding-left: 35px;	
}
#und1{
	padding-left: 35px;	
}
.idundBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:75px;
  margin-bottom: 10px;
}
.unidadBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}
.crearundBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px; 
}
.eliminarUnd{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:110px; 	
}
.modificarUnd{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:220px; 
}
.buscarUnd{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:330px; 
}

#lu{
padding-left: 75px;	
}
#lu1{
padding-left: 75px;	
}

#hBodega{
position: absolute;
top: 40%; 
left: 25%; 
width: 1050 px;
height:500px;
margin-top: -200px; 
margin-left: -335px;
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:500px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;

}
#bo{
	padding-left: 75px;	
}
#bo1{
	padding-left: 75px;	
}
#bo2{
	padding-left: 75px;	
}

#hProducto{
position: absolute;
top: 40%; 
left: 25%; 
width: 1050 px;
height:500px;
margin-top: -200px; 
margin-left: -335px;
padding-top:60px;
padding-bottom:25px;
padding-right:50px;
padding-left:500px;
text-align:center;
color:#777777;
font-size: 1em;    
font-family: sans-serif ;
font-weight: bold;
}
.Boxproducto{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}			
.Boxdesc{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}		
.Boxcantidad{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
  width: 60px;
}		
.Boxprecio{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}		
.BoxlistUnd{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}
.crearProductoBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px; 
}
.modificarProducto{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:110px; 
}
.eliminarProducto{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:220px; 
}
.buscarProducto{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:330px; 
}
.l3{
	padding-left: 20px;
}
.l5{
		padding-left: 20px;
}
.codBodegaBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}
.bodegaBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:12px;
  margin-bottom: 10px;
}
.empresaBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:5px;
  margin-bottom: 10px;
}
.crearBodegaBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px; 	
}
.modificarBodega{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:110px; 	
}
.eliminarBodega{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:220px; 
}
.buscarBodega{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:330px; 
}
		  
.codlugarBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}	 
.lugtarBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:27px;
  margin-bottom: 10px;
}
.crearlugarBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px; 
}
.eliminarLugar{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:110px; 
}
.modificarLugar{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:220px; 
}
.buscarLugar{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:330px; 
}
		 

.BoxlistPedidos{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}
	
.BoxlistLugar{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}
		 
.BoxlistDpto{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}
		
.BoxlistEmpresas{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}
		 
.BoxCubrimiento{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}

.eliminarTipoPedido{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px; 
}

.crearTipoPedidoBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:110px; 
}

.modificarTipoPedido{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:220px; 
}

.buscarTipoPedido{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:330px; 
}

#dep{
	 padding-left:70px;	
}
#dep1{
	 padding-left:70px;	
}

#cen{
 padding-left:70px;	
}

#cen1{
 padding-left:70px;
}

#em{
	padding-left:70px;
}
#em1{
	padding-left:70px;
}
.codeptBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:68px;
  margin-bottom: 10px;

}
.deptBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;

}
.crearDptBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px; 
}
.eliminarDepto{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:100px; 
}
.modificarDepto{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:200px; 
}
.buscarDepto{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:300px; 
}

.codBox{
font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}
.costoBox{
  font-size: 15px;   
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:18px;
  margin-bottom: 10px;
}
.codigoBox{
  font-size: 15px;      
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:15px;
  margin-bottom: 10px;
}

.nombreBox{
  font-size: 15px;   
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-left:5px;
  margin-bottom: 10px;
}
.costoBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px; 
}
.modificarCentro{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:100px; 
}
.eliminarCentro{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:200px; 	
}
.buscarCosto{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:300px; 
}
		 
.crearButon{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px; 
}
.busBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:100px; 
}
.eliminarBoton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:200px; 
}
.modificarEmpresa{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:300px; 
}
.todaEmpresa{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:60px;  
  margin-left:150px; 
}

.productoPedido{

  border-top: thin solid #777777;
  border-left: thin solid#777777;
  border-right: thin solid #777777;
  border-bottom: thin solid #777777;
  background-color: #D8D8D8;
  text-align: center;
  font-size: 1em;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
 
 

}

.celdas{	
	 background-color:  #D8D8D8;
	/* border:2px solid #777777;*/
	 font-size: 1em;    
     font-family: sans-serif ;  
     font-weight: bold;
     color: #777777;
     text-align: center; 
}

  
  .consultarBodega{
   font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:600px; 
  
  }
 .eliminarProductoPedido{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px;  
   }
   
 .buscarProductoPedido{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
   width: 100px;
    height: 30px;  
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:120px;  
	 }
	 
 .limpiar{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px;   
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:240px;  
 }	
 
 .eliminarPedidosButton{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px;  
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:360px;  
	 }
	 
.editar{
	
  font-size: 10px;   
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  border-radius: 5px; 
  position:absolute; 
  margin-top:-10px; 
  margin-left:10px;   
}
.eliminar {
	
  font-size: 10px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  border-radius: 5px; 
  position:absolute; 
  margin-top:-10px; 
  margin-left:-80px;   
  
}

.add {
  font-size: 10px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  border-radius: 5px; 
  position:absolute; 
  margin-top:-10px; 
  margin-left:-100px;  
}

.pedidoBox{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}

.BoxlistDepto{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}

.BoxlistProductop{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}

.BoxlistDepto{	
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}

.BoxlistCentro{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}

.gwt-SuggestBoxPopup .item-selected { 
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  background: #E6E6E6;
  width: 170px;
  border:1px solid #777777;
  
	 }
	 
.cantidadBox{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}
	 
.observacionesBox{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}

 .Gwt-ListBox {
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: red;
 }

 .BoxfechaCubrimiento{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
 }
 
 .fechaped{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
 }
 
 /* Manejo de Existencias */
 
 .eliminarProductoPedido1{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:0px;  
   }
   
 .buscarProductoPedido1{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
   width: 100px;
    height: 30px;  
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:120px;  
	 }
	 
 .limpiar1{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px;   
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:240px;  
 }	
 
 .eliminarPedidosButton1{
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 100px;
  height: 30px;  
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:360px;  
	 }
	 
.editar1{
	
  font-size: 10px;   
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  border-radius: 5px; 
  position:absolute; 
  margin-top:-10px; 
  margin-left:-40px;   
}
.eliminar1 {
	
  font-size: 10px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  border-radius: 5px; 
  position:absolute; 
  margin-top:-10px; 
  margin-left:-140px;   
  
}

.add1 {
  font-size: 10px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  border-radius: 5px; 
  position:absolute; 
  margin-top:-10px; 
  margin-left:-100px;  
}

.to{
	
  font-size: 1em;;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  text-align: center;
  width: 130px;
   height: 30px; 
  border-radius: 5px; 
  position:absolute; 
  margin-top:30px;  
  margin-left:480px;   
	
}

.pedidoBox1{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
  margin-bottom: 20px;
}

.pedidooo1{
	 font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}

.BoxlistProductop1{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}
	 
.cantidadBox1{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
}


 .BoxfechaCubrimiento1{
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
 }
 
 .productoPedido1{

  border-top: thin solid #777777;
  border-left: thin solid#777777;
  border-right: thin solid #777777;
  border-bottom: thin solid #777777;
  background-color: #D8D8D8;
  text-align: center;
  font-size: 1em;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
 
 

}

-moz-box-sizing: border-box; 
box-sizing: border-box;
p{
  margin-top:0px;
  margin-bottom:1em;
  }
form{
 margin:0px;
 }
input{
padding:1px;
}
 


.gwt-SuggestBoxPopup {  	
	width: 400px;
	background-color: #D8D8D8;
}

.gwt-SuggestBoxPopup .item { 
  font-size: 15px;    
  font-family: sans-serif ;  
  font-weight: bold;
  color: #777777;
	
}
